{% extends 'XpressTekZCBundle:Back:layout.events.html.twig' %}

{% block title %}
    ZC Events Administrator
{% endblock %}


{% block body %}
    {{ parent() }}
    
    <div id="eventsDataTable"></div>
    <div id="actionButtons">
        <button id="eventAdd" type="button">New</button> 
    </div>

{% endblock %}


