{% extends 'XpressTekZCBundle:Back:layout.events.html.twig' %}

{% block title %}
    ZC Events Administrator
{% endblock %}


{% block body %}
    {{ parent() }}
    <div class="floatLeft">
    <button id="eventAdd" type="button">New</button> 
    </div>
    <div id="eventsDataTable"></div>
    <div id="actionButtons">        
        <button id="eventEdit" type="button">Edit</button> 
        <button id="eventView" type="button">View</button> 
        <button id="eventDelete" type="button">Delete</button> 
    </div>

{% endblock %}


